#!/bin/sh

date

wget -nv -O- http://{{ tftp_server }}/tools/hpraid/hpraid.tar | tar -C / -xvf -

kernel=`uname -r`

cd /lib/modules/$kernel/kernel/drivers/scsi/
insmod scsi_transport_sas.ko
insmod hpsa.ko

SLOT=`/root/ssacli ctrl all show | sed '/^$/d ; s/^.*Slot \([0-9]\) .*$/slot=\1/'`

echo " :: " $SLOT

/root/ssacli ctrl $SLOT delete forced override
/root/ssacli ctrl $SLOT create type=ld drives=1I:1:1,1I:1:2 raid=1
#/root/ssacli ctrl $SLOT ld 1 modify bootvolume=primary
/root/ssacli ctrl $SLOT show
