{% set image_properties = images[vars['firmware_image']] %}
#!ipxe

# firmware boot file generated for {{ item.key }}

kernel http://{{ tftp_server }}/images/utility/vmlinuz
initrd http://{{ tftp_server }}/images/utility/initrd.img
{%     if image_properties['image_type'] == 'utility' %}
imgargs vmlinuz root=live:http://{{ tftp_server }}/images/utility/rootfs.img {{ image_properties['image_kernel_options'] }} BOOTIF=${netX/mac} ip=dhcp playbook=firmware ${console} hpsum_key={{ hpsum_key }} role={{ item.value.role }} deploy_host={{ tftp_server }} initrd=initrd.img
{%     endif %}
boot
