{% set image_properties = images[vars['firmware_image']] %}
#!ipxe

# firmware file generated for {{ item.key }}

kernel {{ image_properties['image_netboot_kernel_url'] }}
initrd {{ image_properties['image_netboot_initrd_url'] }}
{%     if image_properties['image_type'] == 'utility' %}
imgargs vmlinuz root=live:{{ image_properties['image_netboot_rootfs_url'] }} {{ image_properties['image_kernel_options'] }} BOOTIF=${netX/mac} ip=dhcp playbook=firmware ${console} hpsum_key={{ hpsum_key }} role={{ item.value.role }} initrd=initrd.img
{%     endif %}
boot
