---

# Global Environment Details
# These are the details used by all systems

deployment_name: "My RPC Deployment"             # Name of Deployment Template
host_cidr: "10.0.60.0/24"                        # Host Management Network CIDR
obm_cidr: "10.0.50.0/24"                         # Out of Band Management Network CIDR (for DRAC/iLO)
obm_user: "root"                                 # OBM User
obm_password: "yoursecretpassword"               # OBM Password
primary_nameserver: "8.8.8.8"                    # Primary Nameserver for Environment
secondary_nameserver: "8.8.4.4"                  # Secondary Nameserver for Environment
bios_mode: "UEFI"                                # BIOS Mode - UEFI or Legacy, used to pull different OS configs
server_image: "ubuntu-16.04-amd64"               # Server_image to deploy to servers
firmware_image: "utility"                        # firmware_image to load for firmware and utility operations
systems_domain_name: "mydomain.com"              # Systems domain name
tftp_server: 10.0.60.10                          # Set the primary tftp_server address

# DHCP Server Settings
# Settings for generating the DHCP Server configs 

dhcp_default_lease_time: 21600                   # Default lease time
dhcp_max_lease_time: 43200                       # Max lease time
dhcp_interface: "eno1"                           # Set interface that you want DHCP to serve out requests on
dhcp_list:                                       # - List of DHCP Subnets - These are iterated though and each will be created
  - netmask: 255.255.255.0                       # Netmask
    gateway: 10.0.60.1                           # Gateway
    dns: 8.8.8.8                                 # DNS
    subnet: 10.0.60.0                            # Subnet mask
    default_lease_time: 21600                    # Subnet Default lease time - The default is used if this is not defined
    max_lease_time: 43200                        # Subnet Max lease time - The default is used if this is not defined
    tftp_server: 10.0.60.10                      # The server hosting the TFTP server - The default is used if this is not defined

# system details
# used to generate all PXE files
# these are used to detail and inventory the specific nodes
# that the OS needs to be deployed to
#
# systems: 
#   infra1.mydomain.com:
#     # deployment status, set to true once deployed
#     # to ensure actions are not ran on the server
#     deployed: true
#     # role of server, infra, compute, ceph, etc
#     # role is used to determine which preseed to pull
#     role: infra
#     # Mac Address of server from interface on host network
#     mac: 00:00:00:00:00:01
#     # Out of Band ip for host
#     obm_ip: 10.0.50.5
#     # host ip for host
#     host_ip: 10.0.60.5
#   compute1.mydomain.com:
#     role: compute
#     mac: 00:00:00:00:00:02
#     ...
#
#

# system details
systems:
  infra1.mydomain.com:
    deployed:
    role: 
    mac: 
    obm_ip:
    host_ip: 
  compute1.mydomain.com:
    deployed:
    role:
    mac:
    obm_ip:
    host_ip:
